# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.history
src/db/mongodb/database
src/db/neo4j/conf
src/db/neo4j/data
src/db/neo4j/import
src/db/neo4j/logs
src/db/neo4j/plugins